table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	text-align: center; 
    vertical-align: middle;
}

input[type=number]{
    width: 80%;
}

input[type=text]{
    width: 80%;
}

input {
  font-size: 38px;
}

button {
    touch-action: manipulation;
}

#green {
	background-color: #4CAF50; /* Green */
	color: White;
	padding: 35% 35%;
	border-radius: 15%;
	font-size: 48px;
	font-weight: bold;
}

#red {
	background-color: #961414;
	color: #04D2EF;
	padding: 30% 30%;
	border-radius: 30%;
	font-size: 28px;
	font-weight: bold;
}

#GoTop {
	background-color: transparent;
	color: #04D2EF;
	padding: 50px 50px;
	border-radius: 50%;
	font-size: 22px;
	font-weight: bold;
}

.fixed {
  position: fixed;
  bottom: 50px;
  left: 70px;  
  background-color: transparent;
}

.bg_first {
	background-color: blue;
	color:white;
}

.bg_second {
	background-color: yellow;
	color:white;
}