@font-face {
  font-family: 'W5W';
  src: 	url('fonts\\W5.woff') format('woff'),
		url('fonts\\W5.ttf') format('truetype');
}

body {
  font-family: 'W5W';
}

table {
	border-collapse: collapse;
}

td {
	padding:0;
}

input[type=number]{
    width: 80%;
}

input[type=text]{
    width: 80%;
}

input {
  font-size: 38px;
}

button {
    touch-action: manipulation;
}

#green {
	background-color: #4CAF50; /* Green */
	color: White;
	padding: 35% 35%;
	border-radius: 15%;
	font-size: 48px;
	font-weight: bold;
}

#red {
	background-color: #961414;
	color: #04D2EF;
	padding: 30% 30%;
	border-radius: 30%;
	font-size: 28px;
	font-weight: bold;
}

#GoTop {
	background-color: transparent;
	color: #04D2EF;
	padding: 50px 50px;
	border-radius: 50%;
	font-size: 22px;
	font-weight: bold;
}

.fixed {
  position: fixed;
  bottom: 50px;
  left: 70px;  
  background-color: transparent;
}

.bg_first {
	background-color: #d8f2da;
	color: #281125;
	height:40px;
	line-height:40px;
}

.bg_second {
	background-color: #D22828;
	color:white;
	height:40px;
	line-height:40px;
}

.rightfloat {
	float:right;
}